@use 'abstracts/variables' as var;

#section-solution {
    width: 100%;
    color: var.$color-dark;
    background-color: var.$color-secondary;

    #title1, #title2 {
        font-size: var.$font-size-lg;
        font-weight: bold;
        padding-left: 4rem;
    }

    #title2 {
        color: var.$color-primary;
    }


    .slides {
    overflow: hidden;

            
        .slick-center .slide img {
            transform: scale(1.1);
            border-color: var.$color-primary;
        }

        .slide {
            flex: 0 0 20%;
            background-color: transparent;
            text-align: center;
            border-radius: 0.5rem;
            padding: 1rem;
            display: flex !important;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            cursor: var.$cursor;

            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius: 50%;
                margin-bottom: 1rem;
                transition: all 0.3s ease;
                border: 8px solid transparent;
            }

            &:hover img {
                transform: scale(1.1);
                border-color: var.$color-primary;
            }

            .title {
                font-weight: bold;
                font-size: var.$font-size-sm;
            }

            .description {
                font-size: var.$font-size-sm;
                font-style: italic;
            }
        }
    }

    .prev-slide, .next-slide  {
        position: absolute;
        color: var.$color-muted;
        border: 3px solid var.$color-muted; 
        border-radius: 50%;      
        box-sizing: border-box;
        cursor: var.$cursor;
        font-size: var.$font-size-sm-md;
        height: 2rem;
        width: 2rem;
        z-index: 1;
    }
}