$primary-fonts: Arial, sans-serif;

$color-primary: #608127;
$color-secondary: #f1f1f2;
$color-muted: #c5c5c5;
$color-text: white;
$color-dark: #000000;
$color-hover: white;
$color-light: white;
$color-close: #E53935;
$color-contact-hover: #E53935;
$color-primary-darken: #14532d;
$color-contact: #343a40;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-section-price: 3rem;
$spacing-btn-section-price-md: 4rem;
$spacing-btn-section-price-sm: 8rem;

$font-size-tiny: 0.8rem;
$font-size-sm: 1rem;
$font-size-sm-md: 1.2rem;
$font-size-base: 1.5rem;
$font-size-lg: 2rem;

$cursor: pointer;

$border-bottom-green: 0.1rem solid $color-light;
$border-bottom-normal: 0.1rem solid $color-primary;

$border-radius-section-question-title: 8px;

$desktop-header-height: 2.8rem;
$desktop-navbar-height: 5.5rem;
$desktop-dropdown-minwidth: 20rem;

$mobile-navbar-container-height: 5rem;
$mobile-menu-sidebar-width-md: 60%;
$mobile-menu-sidebar-width-sm: 80%;